
/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet"> */
/* use the above police */

body {
    font-family: 'Outfit', sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    height: 100%;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* width: 300px; */
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Adjust spacing between logo and text */
}

.rent{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;

}
.rent_1{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;

}
.pb{
    font-size: 20px;
    margin-bottom: 10px;

}
.headerText{
    font-size: 16px;
}


.subtitle {
    margin: 10px 0;
}

.price-options {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.price-option {
    /* background-color: #5a1dfc; */
    padding: 10px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    line-height: 0.8;
    flex-direction: column;
}

.slider-container {
    margin: 20px 0;
}

.charge-text {
    margin-bottom: 10px;
}
/* .image-container{
margin-bottom: 30px;
} */
.image-container img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    position: absolute;
    top: 36%;
    left: 39%;
}

.chf{
    font-weight: bold;
}

/* for mobile view */
@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    .image-container img {
        top: 22%;
        left: 10%;
    }
}

/* iphone 12 pro max */
@media (max-width: 428px) {
    .image-container img {
        top: 38%;
        left: 10%;
    }
}

/* iphone XR */
@media (max-width: 414px) {
    .image-container img {
        top: 27%;
        left: 10%;
    }
}

/* normal iphone */
@media (max-width: 320px) {
    .image-container img {
        top: 32%;
        left: 10%;
    }
}

/* 400px */
@media (max-width: 400px) {
    .image-container img {
        top: 33%;
        left: 10%;
    }
}
@media (max-width: 390px) {
    .image-container img {
        top: 24%;
        left: 10%;
    }
}
/* SE IPHONE */
@media (max-width: 375px) {
    .image-container img {
        top: 38%;
        left: 10%;
    }
}

#charge{
    font-size: 20px;
    font-weight: bold;
}

#timeSlider {
    width: 100%;
    margin: 10px 0;
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

#timeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #5a1dfc;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #fff;
}

#timeSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #5a1dfc;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #fff;
}

.time-display {
    margin: 10px 0;
}

.payment-options {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.payment-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    width: 50px;
}

.terms {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.terms input {
    margin-right: 10px;
}

.pay-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5a1dfc;
    color: #fff;
    margin-top: 20px;
    width: 100%;
}

.powered-by {
    margin-top: 10px;
    font-size: 12px;
}
